language: node_js
node_js: "8"
before_install:
- openssl aes-256-cbc -K $encrypted_6a0cd62280ec_key -iv $encrypted_6a0cd62280ec_iv
  -in .travis/id_rsa.enc -out .travis/id_rsa -d
after_success: bash .travis/deploy.sh